Options +FollowSymLinks 
#All -Indexes 
RewriteEngine on vonecall/online_store
RewriteCond $1 !^(index\.php|images|css|js|uploads|robots\.txt|.*\.css)
RewriteCond %{REQUEST_FILENAME} !-f 
RewriteCond %{REQUEST_FILENAME} !-d 
RewriteRule ^(.*)$ index.php/$1 [L,QSA]

#RewriteEngine On
#RewriteCond %{HTTPS} !on
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI}

